*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header */

.logo{
    margin-top: 10px;
}

.display-inline{
    display: inline;
}

.v-align-middle{
    vertical-align: middle;
}

.margin-logo{
    margin-left: 15px;
} 

/* header end */


/* main */

.add-task{
    color: white;
    background-color: rgb(90, 188, 244);
    width: auto;
    text-align: center;
    border-radius: 5px;
    margin: 100px 0px 50px 220px;
    padding: 6px;
    display: inline-block;
    box-sizing: content-box;
}

.add-section{
    color: rgb(197, 197, 197);
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-color: rgb(197, 197, 197);
    border-width: 1px;
    width: 90px;
    text-align: center;
    border-radius: 5px;
    margin: 20px 10px 150px 0px;
    padding: 6px;
    display: inline;
}

.list{
    margin-left: 220px;
}

.list-type1{
    list-style: none;
}

.li2{
    margin-top: 6px;
    margin-left: 0px;
    margin-bottom: 25px;
    list-style: none;
}

.li3{
    margin-top: 6px;
    margin-left: 0px;
    margin-bottom: 9px;
    list-style: none;
}

.tick{
    width: 20px;
}

.cross{
    width: 26px;
    margin-left: 0px;
}

.licross{margin-top: 6px;
    margin-left: -3px;
    margin-bottom: 9px;
    list-style: none;

}

.editorial{
    color: white;
    background-color: rgb(90, 188, 244);
    border-radius: 15px;
    display: inline-block;
    padding: 5px;
    font-size: 10px;
    width: 60px;
    text-align: center;
}

.q1-goals{
    color: white;
    background-color: rgb(131, 1, 186);
    border-radius: 15px;
    display: inline-block;
    padding: 5px;
    font-size: 10px;
    width: 60px;
    text-align: center;
}

.recruiting{
    color: white;
    background-color: rgb(90, 244, 149);
    border-radius: 15px;
    display: inline-block;
    padding: 5px;
    font-size: 10px;
    width: 60px;
    text-align: center;
}

.mobile{
    color: white;
    background-color: rgb(244, 180, 90);
    border-radius: 15px;
    display: inline-block;
    padding: 5px;
    font-size: 10px;
    width: 60px;
    text-align: center;
}

.website{
    color: white;
    background-color: rgb(244, 90, 224);
    border-radius: 15px;
    display: inline-block;
    padding: 5px;
    font-size: 10px;
    width: 60px;
    text-align: center;
}

.sales{
    color: white;
    background-color: rgb(170, 244, 90);
    border-radius: 15px;
    display: inline-block;
    padding: 5px;
    font-size: 10px;
    width: 60px;
    text-align: center;
}
